[project]
name = "exam-bash-mlops"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[project.optional-dependencies]
dev = [
    "black==25.11.0",
    "uv==0.9.15"
]